# macOS
.DS_Store
.AppleDouble
.LSOverride
database/

# JetBrains
.idea/

# Dependencias y entorno virtual (puedes ajustar esto según tu caso)
venv/
.env/
mysql-data/

# Archivos de compilación
*.pyc
*.class
*.jar
*.war
*.ear
*.out

# Archivos y directorios generados por herramientas de construcción
build/
target/
out/
dist/
bin/

# Archivos de registro y salida de aplicaciones
*.log
*.log.*
*.logs/

# Archivos de respaldo y temporales
*~
*.bak
*.swp
*.tmp

# Archivos de configuración de usuario específicos
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/codeStyles/

# Archivos de configuración de editor específicos (ajusta esto según tus necesidades)
*.iml
*.ipr
*.iws
.env

# Directorios de compilación de Gradle
.gradle/
